body,
html,
#___gatsby,
#gatsby-focus-wrapper {
    height: 100%;
    width: 100%;
}
body > div, body > div > div{
    height: 100%;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 1.17;
}

form label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.22;
    margin-top: 8px;
}
form label.form-check-label{
    margin-top:2px;
}
form small.error-message{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.btn.btn-primary {
    background: none;
    border: solid 2px white;
    width: 130px;
    max-width: 100%;
    border-radius: 0px;
    text-transform: uppercase;
    transition: all .5s;
}

.btn.btn-primary:hover {
    background: white;
    color: black;
}

#entry-form,
#age-gate .modal .modal-holder, #thank-you {
    background-color: rgba(255, 255, 255, .8);
    background-image: url('../images/leaves-6.png');
    background-size: cover;

    @media screen and (max-width: 820px) {
        padding: 0px 15px;
        background-image: url("../images/leaves-6@2x.jpg")
    }
    p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        line-height: 1.17;
        &.small{
            font-size: 14px;
        }
    }
    
    form,
    .modal-content {
        background: none;
        border: none;
        color: #fff;
        margin: 0 auto;
        max-width: 730px;
        
        img {
            width: 300px;
            margin: 0 auto;
            max-width: 300px;
            display: block;
        }
        .age-message{
            display: none;
        }
        .age-message.error{
            display: block;
        }
        .form-group{
            text-align: left;
            margin-bottom: 0px;
            input {
                border-radius: 0px;
            }
            select {
                border-radius: 0px;
                -webkit-appearance: none;
                border: none;
                background: #fff url('../images/down_arrow.png') no-repeat 96% 50%;
            }
            label{
                margin-bottom: 0px;
            }
            small{
                display: block;
                font-style: italic;
            }
            .error-message{
                visibility: hidden;
            }
            
            &.error, .error.error-message{
                input, select{
                    border:1px solid red;
                }
                .error-message{
                    visibility: visible;
                }
            }
        }
        
    }
}

#age-gate {

    .modal {
        margin:20px 20px;
        width: calc(100% - 40px);
        min-height: calc(100%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
        .modal-content {
            margin-top: 30px;
            .modal-header {
                border: none;

                img {
                    width: 300px;
                    margin: 0 auto;
                    max-width: 300px;
                }
            }

            label {
                display: none;
                ;
            }
        }
        footer{
            justify-self: flex-end;
        }
    }
}

#entry-form {
    margin: 20px 20px 0;
    max-width: calc(100% - 40px);

    form {
        button {
            display: block;
            margin: 30px auto;
        }
    }
}
.age-gate-open{
    
        overflow-y: hidden;
    
}
#thank-you{
    margin:20px 20px 0;
    width: calc(100% - 40px);
    min-height: calc(100% - 121px);
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1{
        text-transform: uppercase;
    }
    img{
        max-width: 300px;
    }
}
.footer {
    background: #fff;

    .navbar {
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        text-transform: uppercase;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            text-align: center;
            .navbar-brand{
                margin:0;
                margin-left: 15px;
            }
            #navbarNav {
                order:3
            }
        }
        #navbarNav {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 768px) {
                flex-direction: column;
                text-align: center;
                .navbar-nav {
                    .nav-link{
                       padding:0px; 
                    }
                }
            }
            .navbar-nav {
                
                a {
                    text-decoration: underline;
                }
            }
        }

        .social-links li {
            margin-left: 10px;
        }
        .navbar-brand img {
            width: 133px;
        }
    }

    
}

.privacy-policy{
    
    h1,h2,h3{
        font-size: 14px;
        line-height: 22px;
        font-weight: bold;
    }
    .header h1, .header h2{
        margin-bottom: 20px;
    }
    p{
        font-size: 14px;
        line-height: 22px;
        font-family: Arial, sans-serif;
    }
}